<%= form_for( @item, :html => { :multipart => true }) do |f| %>
 
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item %>
    <%= f.text_field :item, id: :item_item %>
  </div>

  <div class="field">
    <%= f.label :画像１ %>
    <%= f.file_field :image, :multipule => true, :class => 'file_field' %>
  </div>

  <div class="field">
    <%= f.label :画像２%>
   <%= f.file_field :image2, :multipule => true, :class => 'file_field' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
